.pessoaContainer{
    font-family: Helvetica;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

.pessoaContent{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pessoaContentInfo{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.pessoaContentMusic{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    align-content: center;
}

.pessoaImagemInfo{
    border-radius: 30px;
    background-color: #4A4A4A;
    padding: 20px;
    width: 100px;
    height: 100px;
}

.pessoaBoxInfo{
    margin: 10px;
    padding: 20px;
    background-color: #4A4A4A ;
    border-radius: 20px;
    width: 1000px;
    height: 100px;
}

.pessoaBoxMusic{
    padding: 30px;
    background-color: #4A4A4A;
    border-radius: 20px;
    border: #88083d 5px solid;
    width: auto;
    height: auto;
    margin: 10px;
    display: flex;
}

.pessoaDisplayMusic{
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.pessoaMusicH3{
    display: block;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #88083d;
    width: auto;
    height: 60px;
    border-radius: 20px;
}

.pessoaImagemMusic{
    border-radius: 30px 50px;
    border: #363636 8px solid;
    background-color: #4A4A4A;
    padding: 20px;
    margin: 10px;
    width: 75px;
    height: 75px;
}

.pessoaContentFilme{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.pessoaBoxFilme{
    border-radius: 20px;
    background-color: #4A4A4A;
    padding: 20px;
    margin: 10px;
    width: 256px;
}

.pessoaImagemFilme{
    border-radius: 20px;
    background-color: #4A4A4A;
    padding: 20px;
    width: 580px;
    height: 100px;
}

.pessoaContentHobbie{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.pessoaBoxHobbie{
    border-radius: 20px;
    background-color: #4A4A4A;
    padding: 20px;
    margin: 10px;
    width: 256px;
    height: 20px;
}

.pessoaImagemHobbie{
    border-radius: 20px;
    background-color: #4A4A4A;
    padding: 20px;
    width: 75px;
    height: 75px;
}

.pessoaH2{
    display: block;
    text-align: center;
}
